---
layout: default
title: "About Me"
description: "FB Zhang"
---

<!-- Post Header -->
<style type="text/css">
    header.intro-header{
        background-image: linear-gradient(to right top, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15));
        background-color: #33CC99;
    }
    .cc_item {
        display: table;
    }
    
    .cc_label {
        display: table-cell;
        width:120px;
    }
    
    .cc_text {
        display: table-cell;
    
    }
</style>

<header class="intro-header" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{{ page.title }}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<article style="overflow:visible">
<!-- Main Content -->
    <div class="container">
        <div class="row">

        <!-- Post Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                post-container">

<h2 id="section-1">Hello World!</h2>

<p>搭建这个博客的目的是将自己在学习代码过程中的一些心得、经验分享到这里，主要为了方便自己以后查阅，也欢迎大家提出宝贵意见。</p>
{% if site.WeChatPublic %}
<p><img src='{{ site.WeChatPublic }}' alt="微信公众号" align="center"></p>
<p align="center">这是我的微信公众号，不定时更新一些文章，大家可以关注一下。</p>
{% endif %}
<h2 id="section-2">关于本博客</h2>

<p>本博客除商业转载外，不需要申请授权，但请务必遵守 <strong><em><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">(CC) BY-NC-SA 4.0</a></em></strong> 协议，内容如下：</p>
<div class="cc_item">
    <div class="cc_label"><strong>署名</strong></div>
    <div class="cc_text">您必须给出适当的署名，提供指向本许可协议的链接，同时标明是否（对原始作品）作了修改。您可以用任何合理的方式来署名，但是不得以任何方式暗示许可人为您或您的使用背书。</div>
</div>
<div class="cc_item">
    <div class="cc_label"><strong>非商业性使用</strong></div>
    <div class="cc_text">您不得将本作品用于商业目的。</div>
</div>
<div class="cc_item">
    <div class="cc_label"><strong>相同方式共享</strong></div>
    <div class="cc_text">如果您再混合、转换或者基于本作品进行创作，您必须基于与原先许可协议相同的许可协议 分发您贡献的作品。</div>
</div>
<div class="cc_item">
    <div class="cc_label"><strong>没有附加限制</strong></div>
    <div class="cc_text">您不得适用法律术语或者技术措施从而限制其他人做许可协议允许的事情。</div>
</div>
<p>只要你遵守许可协议条款，你可以自由地：</p>
<div class="cc_item">
    <div class="cc_label"><strong>共享</strong></div>
    <div class="cc_text">在任何媒介以任何形式复制、发行本作品</div>
</div>
<div class="cc_item">
    <div class="cc_label"><strong>演绎</strong></div>
    <div class="cc_text">修改、转换或以本作品为基础进行创作</div>
</div>

             {% if site.disqus %}
             <!-- disqus 评论框 start -->
              <div class="comment">
                  <div id="disqus_thread" class="disqus-thread"></div>
              </div>
              <!-- disqus 评论框 end -->
              {% endif %}

            </div>
        </div>
    </div>
</article>

{% if site.disqus %}
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = '{{ site.disqus }}';
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
{% endif %}

<!-- async load function -->
<script>
    function async(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
      s.parentNode.insertBefore(o, s);
    }
</script>
<!-- anchor-js, Doc:http://bryanbraun.github.io/anchorjs/ -->
<script>
    async("{{ site.BASE_PATH }}/assets/js/anchor.min.js",function(){
        anchors.options.placement = 'left';
        anchors.add('h2,h3');
		anchors.remove('.subheading');
    })
</script>
