---
layout: default
title: "About Me"
description: "FB Zhang"
---

<!-- Post Header -->
<style type="text/css">
    header.intro-header{
        background-image: linear-gradient(to right top, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15));
        background-color: #33CC99;
    }
</style>

<header class="intro-header" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{{ page.title }}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<article style="overflow:visible">
<!-- Main Content -->
    <div class="container">
        <div class="row">

        <!-- Post Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                post-container">

<h2 id="section-1">Hello World!</h2>

<p>搭建这个博客的目的是将自己在学习代码过程中的一些心得、经验分享到这里，主要为了方便自己以后查阅，也欢迎大家提出宝贵意见。</p>
{% if site.WeChatPublic %}
<p><img src='{{ site.WeChatPublic }}' alt="微信公众号" align="center"></p>
<p align="center">这是我的微信公众号，不定时更新一些文章，大家可以关注一下。</p>
{% endif %}
<h2 id="section-2">关于本博客</h2>

<p>本博客除商业转载外，不需要申请授权。</p>

             {% if site.disqus %}
             <!-- disqus 评论框 start -->
              <div class="comment">
                  <div id="disqus_thread" class="disqus-thread"></div>
              </div>
              <!-- disqus 评论框 end -->
              {% endif %}

              {% if site.changyan %}
              <!-- 畅言 评论框 start -->
              <div id="SOHUCS" sid="About-Me" ></div>
              <!-- 畅言 评论框 end -->
              {% endif %}

            </div>
        </div>
    </div>
</article>

{% if site.disqus %}
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'zfb132';
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
{% endif %}

{% if site.changyan %}
<!-- 畅言公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
(function(){
var appid = 'cyt0r3DPA';
var conf = 'prod_9f689acf279f6cafa48eff93be14cdf6';
var width = window.innerWidth || document.documentElement.clientWidth;
if (width < 960) {
window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("https://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); </script>
<!-- 畅言公共JS代码 end -->
{% endif %}

<!-- async load function -->
<script>
    function async(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
      s.parentNode.insertBefore(o, s);
    }
</script>
<!-- anchor-js, Doc:http://bryanbraun.github.io/anchorjs/ -->
<script>
    async("https://cdn.bootcss.com/anchor-js/1.1.1/anchor.min.js",function(){
        anchors.options.placement = 'left';
        anchors.add('h2,h3');
		anchors.remove('.subheading');
    })
</script>
