---
layout: page
title: 晨曦的博客
description: "点点滴滴"
header-img: "/img/home-bg.jpg"
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
		{% if post.description %}
        <div class="post-content-preview">
            {% if post.description %}
			{{ post.description }}
			{% endif %}
        </div>
		{% endif %}
    </a>
    <p class="post-meta">
        Posted on {{ post.date | date: "%B %-d, %Y" }};&nbsp;浏览量:&nbsp;<span id="{{ post.url | prepend: site.url}}" class="leancloud_visitors" data-flag-title="{{ post.title }}"> - </span>次.&nbsp;字数:&nbsp;{{ post.content | number_of_words }}
    </p>
</div>
<hr>
{% endfor %}
<script src="//cdn1.lncld.net/static/js/2.5.0/av-min.js"></script>
<script>
  var APP_ID = 'JOlpycoXPlWpliHaQCATuSMI-gzGzoHsz';
  var APP_KEY = 'aOrAECRcUnwpNiY8RtEoxMzX';
	AV.init({
        appId: APP_ID,
        appKey: APP_KEY
    });
    function showTime(Counter) {
      var query = new AV.Query(Counter);
      var entries = [];
      var $visitors = $(".leancloud_visitors");

      $visitors.each(function () {
        entries.push( $(this).attr("id").trim() );
      });

      query.containedIn('url', entries);
      query.find()
        .done(function (results) {
          var COUNT_CONTAINER_REF = '.leancloud-visitors-count';

          if (results.length === 0) {
            $visitors.find(COUNT_CONTAINER_REF).text(0);
            return;
          }

          for (var i = 0; i < results.length; i++) {
            var item = results[i];
            var url = item.get('url');
            var time = item.get('time');
            var element = document.getElementById(url);

            $(element).find(COUNT_CONTAINER_REF).text(time);
          }
        })
        .fail(function (object, error) {
          console.log("Error: " + error.code + " " + error.message);
        });
    }

    function addCount(Counter) {
      var $visitors = $(".leancloud_visitors");
      var url = $visitors.attr('id').trim();
      var title = $visitors.attr('data-flag-title').trim();
      var query = new AV.Query(Counter);

      query.equalTo("url", url);
      query.find({
        success: function(results) {
          if (results.length > 0) {
            var counter = results[0];
            counter.fetchWhenSave(true);
            counter.increment("time");
            counter.save(null, {
              success: function(counter) {
                var $element = $(document.getElementById(url));
                $element.find('.leancloud-visitors-count').text(counter.get('time'));
              },
              error: function(counter, error) {
                console.log('Failed to save Visitor num, with error message: ' + error.message);
              }
            });
          } else {
            var newcounter = new Counter();
            /* Set ACL */
            var acl = new AV.ACL();
            acl.setPublicReadAccess(true);
            acl.setPublicWriteAccess(true);
            newcounter.setACL(acl);
            /* End Set ACL */
            newcounter.set("title", title);
            newcounter.set("url", url);
            newcounter.set("time", 1);
            newcounter.save(null, {
              success: function(newcounter) {
                var $element = $(document.getElementById(url));
                $element.find('.leancloud-visitors-count').text(newcounter.get('time'));
              },
              error: function(newcounter, error) {
                console.log('Failed to create');
              }
            });
          }
        },
        error: function(error) {
          console.log('Error:' + error.code + " " + error.message);
        }
      });
    }

    $(function() {
      var Counter = AV.Object.extend("Counter");
      //if ($('.leancloud_visitors').length == 1) {
        addCount(Counter);
      //} else if ($('.post-title-link').length > 1) {
        showTime(Counter);
     // }
    });
  </script>

<!-- Pager -->
<ul class="pager">

  {% if paginator.previous_page %}
  <li class="home previous">
    {% if paginator.previous_page == 1 %}
    <a href="{{ site.BASE_PATH }}/">&larr; 上一页</a>
    {% else %}
    <a href="{{ site.BASE_PATH }}/{{ site.paginate_path | replace: ':num', paginator.previous_page }}">&larr; 上一页</a>
    {% endif %}
  </li>
  {% else %}
  <li class="home previous disabled">
    <a>&larr; 上一页</a>
  </li>
  {% endif %}

  <li>
    <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  </li>

  {% if paginator.next_page %}
  <li class="home next">
    <a href="{{ site.BASE_PATH }}/{{ site.paginate_path | replace: ':num', paginator.next_page }}">下一页 &rarr;</a>
  </li>
  {% else %}
  <li class="home next disabled">
    <a>下一页 &rarr;</a>
  </li>
  {% endif %}

</ul>
