<!doctype html>
<html>
	<head>
		<!--
		<meta http-equiv="Page-Enter" content="revealTrans(duration=55.0,transition=2)"></meta>
		-->
		<link rel="shortcut icon" href="../static/favicon.ico"/>
		<link rel="bookmark" href="../static/favicon.ico"/>
		<meta http-equiv="content-type" content="text/html;charset=utf-8">
		<meta http-equiv="content-style-type" content="text/css">
		
		<title>欢迎访问ZFB做的网站</title>
		<style type="text/css">
			<!--
				.yanse
				{
					font-size:20pt;
					color:blue;
					
				}
			-->
		</style>
		<script type="text/javascript">
			<!--
				setInterval("st()",1000);
				function st()
				{
					var s,t,m;
					t=new Date();
					m=t.getMonth()+1;
					s=t.getFullYear()+"年"+m+"月"+t.getDate()+"日  "+t.getHours()+":"+t.getMinutes()+":"+t.getSeconds();
					timetxt.innerHTML="<h3>当前时间：<font color=red>"+s+"</font></h3>";
				}
				
				setInterval("djs()",1000);
				function djs()
				{
					var ms=Date.UTC(2017,0,28,00,00,00);
					var time=new Date(ms);
					var onesd=1000;
					var onemt=60*onesd;
					var onehr=60*onemt;
					var oneday=24*onehr;
					
					function xh()
					{
						var today=new Date();
						var sum=ms-today.getTime();
						var d=Math.floor(sum/oneday);
						sum=sum-d*oneday;
						var h=Math.floor(sum/onehr);
						sum=sum-h*onehr;
						var m=Math.floor(sum/onemt);
						sum=sum-m*onemt;
						var s=Math.floor(sum/onesd);
						var str=d+"天"+h+"小时"+m+"分钟"+s+"秒";
						djstxt.innerHTML="<h3>春节长假倒计时：<font color=red>"+str+"</font></h3>";	
					}
					xh();
					
				}
				
				function pt()
				{
					//alert("zfb");
					//document.write("<font size=30>dianjicichu</font>");
				}
			//-->
		</script>
	</head>
	<body style="font-size:15pt" onClick="pt()">
		<p align="center" class="yanse">这是文章的标题</p><br>
		<marquee direction=right scrollamount=10 scrolldelay=1 Width="100%" onmouseover=this.stop() onmouseout=this.start()>
			<p style="font-size:20pt;color:red">我是会滑动的文字</p>
		</marquee>
		
		<div id="timetxt" align="center">
		</div><br>
		
		<div id="djstxt" align="center" bgcolor="white"></div>
		
		<div style="color:red">
			<p>主页地址是&nbsp;&nbsp;/user</p><br>
			<p>登录地址是&nbsp;&nbsp;/login</p><br>
			<p>网址传参地址是&nbsp;&nbsp;/user/1234(1234是传的数字)</p><br>
			<p>网址传参地址是&nbsp;&nbsp;/query_user，需要输入query_user?id=123456</p><br>
			<p>反向路由地址是&nbsp;&nbsp;/query_url</p><br>
			<p>基类地址是&nbsp;&nbsp;/base</p><br>
			<p>继承类地址是&nbsp;&nbsp;/extend</p><br>
		</div>

		<p class="yanse">这才是正文部分</p><br>
		<a name="zfb"><p align="center" style="color:purple">这是一个小标签，仅供作为实验所用</p></a>
		<br><br>
		
		<div style="color:black">
		<h2>这是一个列表</h2>
		<dl>
			<dt>中国城市</dt>
			<dd>北京</dd>
			<dd>上海</dd>
			<dd>广州</dd>
			<dd>武汉</dd>
		</dl>
		<dl>
			<dt>美国城市</dt>
			<dd>纽约</dd>
			<dd>华盛顿</dd>
			<dd>洛杉矶</dd>
			<dd>佛罗伦萨</dd>
		</dl>
		<h2>这也是一个列表</h2>
		<ul>
			<p>中国城市</p>
			<li>北京</li>
			<li>上海</li>
			<li>广州</li>
			<li>武汉</li>
		</ul>
		<ul>
			<p>美国城市</p>
			<li>纽约</li>
			<li>华盛顿</li>
			<li>洛杉矶</li>
			<li>佛罗伦萨</li>
		</ul>
		<h2>这还是一个列表</h2>
		<ol>
			<p>中国城市</p>
			<li>北京</li>
			<li>上海</li>
			<li>广州</li>
			<li>武汉</li>
		</ol>
		<ol>
			<p>美国城市</p>
			<li>纽约</li>
			<li>华盛顿</li>
			<li>洛杉矶</li>
			<li>佛罗伦萨</li>
		</ol>
		</div>
		
		<p align="center" style="color:red">这是第一份表格</p>
		<table border="1" width="60%" bgcolor="#E8E8E8" align="center">
			<tr>
				<th width="30%" colspan="2" align="center">初中</th>
				<th width="30%" colspan="2" align="center">高中</th>
				<th width="30%" colspan="2" align="center">大学</th>
			</tr>
			<tr>
				<td width="15%" align="center">初一</td>
				<td width="15%" align="center">初二</td>
				<td width="15%" align="center">高一</td>
				<td width="15%" align="center">高二</td>
				<td width="15%" align="center">大一</td>
				<td width="15%" align="center">大二</td>
			</tr>	
			<tr>
				<td width="15%" align="center">初三</td>
				<td width="15%" align="center">复读</td>
				<td width="15%" align="center">高三</td>
				<td width="15%" align="center">复读</td>
				<td width="15%" align="center">大三</td>
				<td width="15%" align="center">大四</td>
			</tr>	
		</table>
		<p align="center" style="color:red">这是第二份表格</p>
		<table border="1" width="60%" bgcolor="#E8E8E8" align="center">
			<tr>
				<th width="30%" colspan="6" align="center">表格标题</th>
			</tr>
			<tr>
				<td width="15%" align="center">初一</td>
				<td width="15%" align="center">初二</td>
				<td width="15%" align="center">高一</td>
				<td width="15%" align="center">高二</td>
				<td width="15%" align="center">大一</td>
				<td width="15%" align="center">大二</td>
			</tr>	
			<tr>
				<td width="15%" align="center">初三</td>
				<td width="15%" align="center">复读</td>
				<td width="15%" align="center">高三</td>
				<td width="15%" align="center">复读</td>
				<td width="15%" align="center">大三</td>
				<td width="15%" align="center">大四</td>
			</tr>	
		</table><br>
		<p style="color:red">书香年华</p><br>
		<p style="color:red">第二个视频</p><br>
		<a href="login.html" target="_blank">点击此处将会打开一个新窗口并跳转到登录页面</a>
		<br><br>
		<a href="com.whuzfb.myapplication.apk" target="_blank">下载作者的Android App</a>
		<br><br>
		<a href="showlove/love.html" target="_blank">点击此处有彩蛋A</a>
		<br><br>
		<a href="lovetree/index.html" target="_blank">点击此处有彩蛋B</a>
		<br><br>
		<a href="flowerlove/index.html" target="_blank">点击此处有彩蛋C</a>
		<br><br>
		<a href="chinamap.html" target="_blank">点击此处有彩蛋D</a>
		<br><br>
		<a href="jump.html" target="_blank">点击阻尼运动</a>
		<br><br>
		<a href="mailto:zfb@163.com">点击此处给zfb发送电子邮件</a>
		<br>
		<form method="POST" action="user.html">
			<h4 style="color:green">
				<p>最喜欢的偶像：</p>
				<select name="love">
					<option value="zhangxueyou">张学友
					<option value="liudehua">刘德华
					<option value="zfb" selected>ZFB
					<option value="zhoujielun">周杰伦
				</select>
			</h4>
			<h4 style="color:blue">
				<p>喜欢的食物：</p>
				<select name="food" multiple>
					<option value="pepper">辣椒
					<option value="toufu" selected>豆腐
					<option value="tomato" selected>土豆
					<option value="noodle">面条
				</select>
			</h4>
			<h4>请选择您的性别
				<input type="radio" name="sex" checked>男&nbsp;&nbsp;
				<input type="radio" name="sex">女
			</h4>
			<h4>请输入用户名&nbsp;
				<input type="text" name="user" value="" alt="shuru">
			</h4><br>
			<h4>请输入密码&nbsp;&nbsp;
				<input type="password" name="psw">
			</h4><br>
			<p style="font-size:15pt;color:yellow">
				<input type="checkbox" name="rembpwd">记住密码
			</p>
			<a href="#zfb">点击此处回到标签</a>
			<input type="submit" name="submit" value="提交">
			&nbsp;&nbsp;&nbsp;
			<input type="reset" name="clear" value="重输">
		</form>
		<script type="text/javascript" src="zfbcdn.js" color="255,0,0" opacity='0.7' count="200" zIndex="-2" count="99"></script>
	</body>
</html>
